---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import Skills from '../components/Skills.astro';
import PersonalProjects from '../components/PersonalProjects.astro';
import Experience from '../components/Experience.astro';
import Publications from '../components/Publications.astro';
import Education from '../components/Education.astro';
import News from '../components/News.astro';
import GalleryPreview from '../components/GalleryPreview.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <FeaturedProjects />
    <Skills />
    <PersonalProjects />
    <Experience />
    <Publications />
    <Education />
    <News />
    <GalleryPreview />
    <Contact />
  </main>
  <Footer />
</Layout>
